body {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  min-width: 1330px;
  background: #1e1e1e;
  color: #fff;
  font-size: 14px;
  font-family: Consolas, Monaco, Menlo, monospace, sans-serif;
}

#main {
  width: 100%;
  min-width: 100%;
  height: 100%;
}

#clock {
  color: #ddd;
}

a {
  color: #ade;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button, input[type="submit"] {
  font-size: 14px;
  font-family: Consolas, Monaco, Menlo, monospace, sans-serif;
  background: #f0f0f0;
  border: 1px solid rgb(140, 149, 159);
  border-radius: 3px;
  outline: none;
  height: 24px;
  cursor: pointer;
  transition: all 0.2s ease;
}
button:hover, input[type="submit"]:hover {
  background: #e0e0e0 !important;
}
button:disabled {
  color: #333;
  background: #888;
}

.small-button {
  height: 18px;
  font-size: 12px;
}

#submit-button {
  height: 28px;
}

input[type="text"],input[type="password"] {
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  color: #fff;
  font-family: Consolas, Monaco, Menlo, monospace, sans-serif;
  outline: none;
}

input:-webkit-autofill {
  -webkit-transition: all 86400s;
  transition: all 86400s;
}

#submit-button {
  width: 90px;
  font-size: 18px;
}

.mode-button-block {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 32px;
  margin-left: 8px;
  text-align: center;
  vertical-align: top;
  top: -10px;
}

.mode-button {
  position: relative;
  min-width: 100%;
  height: 24px;
  background: #888 !important;
  top: -10px;
}
.mode-active {
  background: #f0f0f0 !important;
}

.mode-ind {
  display: inline-block;
  position: relative;
  width: 95%;
  height: 3px;
  border: 1px solid #666;
  background: #444;
  top: -8px;
}
.mode-ind-active {
  background: #75bfff !important;
}

.button-inactive {
  background: #888 !important;
}

textarea {
  padding: 2px 4px;
  outline: none;
  border: 1px solid #888;
  border-radius: 4px;
  background: transparent;
  color: #fff;
  font-size: 14px;
  font-family: Consolas, Monaco, Menlo, monospace, sans-serif;
  white-space: pre;
  resize: none;
  transition: border linear 0.1s, box-shadow linear 0.1s;
}
textarea:focus {
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0px 5px rgba(81,167,232,0.5);
}

pre {
  margin: 0;
  font-size: 14px;
  font-family: Consolas, Monaco, Menlo, monospace, sans-serif;
}

select {
  outline: none;
}

#key {
  width: 10em;
}
.input-disabled {
  border-bottom: 1px solid #888 !important;
}

.label-disabled {
  color: #888;
}

#area3 {
  height: calc(100vh - 80px);
}

#input-area {
  display: inline-block;
  position: relative;
  width: 824px;
  height: 100%;
  float: left;
  overflow: auto;
}

#src {
  width: calc(100% - 10px);
  height: 100%;
}

#right-area {
  display: inline-block;
  position: relative;
  width: calc(100% - 844px);
  height: 100%;
  float: left;
  overflow: auto;
}

.block {
  border: 1px solid #888;
  border-radius: 4px;
}

#info-area {
  height: 220px;
  padding: 2px 4px;
  margin-bottom: 4px;
  overflow: auto;
}

#info {
  color: #ddd;
}

#preview-area {
  display: inline-block;
  position: relative;
  margin-top: 6px;
  width: 100%;
  height: calc(100% - 268px);
  overflow: auto;
}

#preview-wrapper {
  display: inline-block;
  position: relative;
  width: calc(100% - 10px);
  height: calc(100% - 32px);
  padding: 2px 4px;
  overflow: auto;
}

#preview {
  width: 100%;
  height: 100%;
}

#f1 {
  height: calc(100% - 40px);
}

.pseudo-link {
  color: #0cf;
}
.pseudo-link:hover {
  text-decoration: none;
}

.dialog {
  border: 1px solid #888;
  background: #000 !important;
  color: #fff !important;
  font-family: Consolas, Monaco, Menlo, monospace, sans-serif !important;
}

.dialog-button {
  min-width: 54px;
}

.pseudo-link {
  color: #ade;
}

#font-range {
  width: 100px;
}

#font {
  width: 100px;
}

#font-range-preview {
  width: 120px;
}

#font-preview {
  width: 100px;
}

.adjuster {
  display: inline-block;
  position: relative;
}

#adjuster-x {
  width: 4px;
  height: 100%;
  top: -8px;
  cursor: ew-resize;
  float: left;
  margin-right: 10px;
}

#adjuster-y {
  width: 100%;
  height: 4px;
  top: -4px;
  cursor: ns-resize;
  float: left;
  margin-right: 10px;
}

.status-inactive {
  color: #888;
}

.caution {
  color: #f88;
}

.char-caution {
  color: #fab;
}

.cc {
  cursor: default;
}

.cc2 {
  cursor: default;
  font-size: 0.7em;
}

.cc-link {
  cursor: pointer;
}

.code-range {
  cursor: pointer;
}

.codeblock-lv-2 {
  font-size: 0.8em;
}

.code-single {
  font-size: 0.7em;
}
